<nav class="navbar navbar-expand-lg justify-content-center">
  <!-- <a class="navbar-brand" > -->
  <div class="d-flex toggleDiv">
    <div>
      <img src="./assets/Icons/logo.jpg" routerLink="/home" class="logoImg" />
    </div>
    <!-- </a> -->
    <div class="d-flex">
      <img
        src="./assets/Icons/smallSeach.svg"
        width="18"
        height="18"
        class="smallSeach"
      />
      <div
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor03"
        aria-controls="navbarColor03"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
      >
        <img src="./assets/Icons/navMenu.svg" />
      </div>
    </div>
  </div>

  <div
    class="collapse navbar-collapse"
    id="navbarColor03"
    (click)="isCollapsed = true"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav">
      <li class="nav-item" routerLink="/categories">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "categories" | translate }}</a
        >
      </li>
      <li class="nav-item" routerLink="/on-shopping/about-us">
        <a class="nav-link" routerLinkActive="active">{{
          "about" | translate
        }}</a>
      </li>
      <li class="nav-item" routerLink="/on-shopping/contact-us">
        <a class="nav-link" routerLinkActive="active">{{
          "contact" | translate
        }}</a>
      </li>
      <li class="nav-item" routerLink="/on-shopping/reviews">
        <a class="nav-link" routerLinkActive="active">{{
          "reviews" | translate
        }}</a>
      </li>
      <li class="nav-item navSearch">
        <a class="nav-link"
          ><img src="./assets/Icons/search.svg" width="18" height="18"
        /></a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link d-flex"
          ><img
            src="./assets/Icons/lang.svg"
            width="18"
            height="18"
            class="mt-1"
          />
          &nbsp;&nbsp;
          <h6
            class="mt-1"
            (click)="translate.use('en'); changeDirection('ltr')"
          >
            EN
          </h6>
          |
          <h6
            class="mt-1"
            (click)="translate.use('ar'); changeDirection('rtl')"
          >
            AR
          </h6></a
        >
      </li>
    </ul>
  </div>
</nav>
